body {
    width: 100vw;
    height: 100vh;
}
.main-header {
    background-image: url(../src/images/header-bg.jpg) ;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 60vh;

}

header {
    color: #E1B012;
    background-color: #212528;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 20px;
}

.sub-header {
    color: white;
    text-align: center;
    margin-top: 80px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 25px;
}

h2 {
    font-family: 'Kaushan Script', cursive;
    font-size: 1.5rem;
}
h3 {
    font-size: 1.6rem;
    font-style: italic;
    font-weight: 900;
}

nav {
    padding: 20px;

}

a {
    padding-top: 10px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.viewmenu {
    display: flex;
    flex-direction: column;
    background-color: #212528;
    height: 175px;
    animation-name: drop;
    animation-duration: .2s;
}
.hidemenu {
    display: none;
}
.desknav {
    display: none;
}


.btn {
	box-shadow:inset 0px 1px 0px 0px #fff6af;
	background-color:#fed037;
	border-radius:6px;
	border:1px solid #fed037;
	display:inline-block;
	cursor:pointer;
	color:#fffaff;
	font-family:Arial;
	font-size:1rem;
	font-weight:bold;
	padding:8px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #fed037;
}

.btn2 {
    padding:20px 40px;
    font-size:1.2rem;
    text-transform: uppercase;

}
.btn:hover {
	background-color:#ffcf56;
}
.btn:active {
	position:relative;
	top:1px;
}

@keyframes drop {
    0% {
        height: 0;
    }
    100% {
        height: 175px;
    }

}


        
@media(min-width: 768px){
    .main-header {
        width: 100%;
        height: 100vh;
    }

    .sub-header {
        color: white;
        text-align: center;
      
    }

    .cont {
        display: flex;
        justify-content: center;
        align-items: center;    
    }

    h1 {
        font-size: 6rem;  
    }
    
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1.6rem;
    }
  
    .desknav {
        display: flex;
    }
    .btn {
        display: none;
    }
    
}